[Unit]
Description=Load Price Ticker
Wants=network.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/chromium-browser --start-fullscreen https://portal.apps.rmhedge.com/#ticker
KillMode=process

[Install]
WantedBy=default.target
